.add-product-container {
  /* margin: 100px auto; */
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(217, 217, 217, 0) 0%,
    rgba(165, 165, 165, 0.37) 25%,
    rgba(149, 149, 149, 0.49) 37%,
    rgba(77, 77, 77, 1) 100%
  );
}

.add-product-form {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 30px 40px 30px 40px;
}

.image-price-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.image-price-wrapper .image-container,
.image-price-wrapper .price-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.image-price-wrapper .price-container input {
  background-color: #e6e6e6;
  border: none;
  height: 40px;
  padding-left: 15px;
  border-radius: 10px;
}

.necessary-details-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 680px;
  width: 100%;
}

.necessary-details-container .custom-form-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.necessary-details-container .custom-form-element input {
  background-color: #e6e6e6;
  border: none;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
}

.textarea-description {
  max-width: 560px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e6e6e6;
  border-radius: 10px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.necessary-details-container .brand-select-input,
.necessary-details-container .category-select-input,
.necessary-details-container .subcategory-select-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-product-submition {
  display: flex;
  justify-content: end;
}

.add-product-submition button {
  background-color: #ff7c32;
  height: 50px;
  width: 200px;
  color: #fff;
  font-size: 26px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.add-product-form:not(:last-of-type) label::after {
  color: #b50938;
  content: "*";
  font-size: 13px;
  margin: 0 0 0 3px;
}

.loader-wrapper {
  text-align: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff9900;
  border-radius: 50%;
  margin: 20px auto;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.css-11d7nt7-control {
  border: none !important;
  box-shadow: none !important;
}

.css-11d7nt7-control:hover {
  border: none !important;
}

.react-select__menu {
  background-color: #e6e6e6 !important;
}

.react-select__option:hover {
  background-color: #ffc69f !important;
}

.react-select__option--is-selected {
  /* background-color: #ff7c32 !important; */
  background-color: transparent !important;
  color: black !important;
}

.react-select__option--is-focused {
  /* background-color: #ffc69f !important; */
  background-color: transparent !important;
}
