.admin-product-item-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.admin-product-item {
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
}

.admin-product-item.active {
  background-color: #ff610050;
  filter: blur(1px);
}

.admin-product-item-details {
  height: 100px;
  text-align: left;
  padding-inline: 10px;
}

.admin-product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-product-image-container .admin-product-image-photo {
  display: block;
  width: 90%;
}

.admin-product-item-details .admin-product-item-name {
  display: block;
  font-size: 16px;
  font-weight: normal;
}

.admin-product-item-details .admin-product-item-ratings {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 5px;
}

.admin-product-item-details .admin-product-price-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.admin-product-item-details
  .admin-product-price-container
  .admin-product-price {
  color: #333;
  font-size: 26px;
  font-weight: 700;
}

.admin-product-item-details .admin-product-actions {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-product-item-actions {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.admin-product-item-actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
}
