.admin-product-item {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 320px;
}

.admin-product-item-details {
  height: 100px;
  text-align: left;
  padding-inline: 10px;
}

.admin-product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-product-image-container .admin-product-image-photo {
  display: block;
  width: 90%;
}

.admin-product-item-details .admin-product-item-name {
  display: block;
  font-size: 17px;
  font-weight: normal;
}

.admin-product-item-details .admin-product-item-ratings {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 5px;
}

.admin-product-item-details .admin-product-price-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
}

.admin-product-item-details
  .admin-product-price-container
  .admin-product-price {
  color: #333;
  font-size: 26px;
  font-weight: 700;
}

.admin-product-item-options {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.three-dots-icon {
  width: 15px;
  height: 20px;
  position: relative;
}

.three-dots-icon .dot {
  width: 4px;
  height: 4px;
  background-color: #333;
  border-radius: 50%;
  position: absolute;
}

.three-dots-icon .dot:nth-child(1) {
  top: 0;
  left: 5px;
}

.three-dots-icon .dot:nth-child(2) {
  top: 8px;
  left: 5px;
}

.three-dots-icon .dot:nth-child(3) {
  top: 16px;
  left: 5px;
}

/* .admin-product-item-details .admin-product-actions {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.admin-product-item.active {
  display: flex;
  justify-content: center;
  height: 100%;
}

.admin-product-item.active .admin-product-item-actions {
  transition: transform 0.3s ease;
  /* transform: translateX(200px); */
}

.admin-product-item-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 100%;
}

.admin-product-item-actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.admin-product-item-actions .delete-button {
  color: #ff0000;
}

.admin-product-item-actions .edit-button,
.admin-product-item-actions .close-button {
  color: black;
}

.admin-product-item-actions .delete-button,
.admin-product-item-actions .edit-button {
  font-size: 35px;
  font-weight: bolder;
}

.admin-product-item-actions .close-button {
  position: absolute;
  top: 14px;
  right: 5px;
  font-size: 20px;
  font-weight: bolder;
}
