.product-item {
  width: 100%;
}

.product-item-info {
  background-color: #ffede1;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.product-item-info a {
  width: 100%;
}
