.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.top-footer-content,
.footer-cards-content,
.copyright-content {
  max-width: 1340px;
  /* width: 100%; */
  margin: 0 auto;
}

.top-footer-wrapper {
  width: 100%;
  background-image: linear-gradient(to bottom right, #ff9900, #ff5c00);
}

.top-footer-content {
  color: white;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-footer-logo {
  display: none;
}

.connect-with-us-column,
.contact-us-column,
.newsletter-column {
  margin-bottom: 20px;
}

.connect-with-us-column h4,
.contact-us-column h4,
.newsletter-column h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.connect-with-us-column p,
.contact-us-column p,
.newsletter-column p {
  margin-bottom: 5px;
}

.connect-with-us-column a,
.contact-us-column a,
.newsletter-column a {
  text-decoration: none;
  color: #fff;
}

.connect-with-us-column a:hover,
.contact-us-column a:hover,
.newsletter-column a:hover {
  color: #501d00;
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  color: #ffffff;
  font-size: 24px;
  text-decoration: none;
}

.newsletter-column .subscribe-newsletter {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.subscribe-newsletter input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.subscribe-newsletter button {
  max-width: 150px;
  padding-block: 10px;
  background-color: #9e3900;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.subscribe-newsletter button:hover {
  background-color: #501d00;
}

.footer-cards-wrapper {
  width: 100%;
  background-color: #ffe6d4;
  padding-block: 10px;
}

.footer-cards-content {
  padding: 0;
  display: flex;
  justify-content: center;
  column-gap: 60px;
}

.footer-cards-content li {
  list-style: none;
}

.footer-cards-content img {
  height: 30px;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.copyright-wrapper {
  width: 100%;
  margin: auto;
}

.copyright-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1380px) {
  .top-footer-content {
    padding-inline: 10px;
    margin-inline: 0;
  }

  .copyright-content {
    padding-inline: 10px;
  }
}

@media screen and (max-width: 769px) {
  .top-footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .top-footer-logo {
    display: inline-block;
    grid-row: 1;
    grid-column: 1/3;
    justify-self: center;
  }

  .connect-with-us-column {
    grid-row: 2;
    grid-column: 1/3;
    justify-self: center;
    margin-bottom: 0;
  }

  .footer-cards-content {
    justify-content: space-between;
    gap: 0;
    align-items: center;
    height: 35px;
    padding-inline: 20px;
  }

  .footer-cards-content li a svg {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 480px) {
  .contact-us-column,
  .newsletter-column {
    grid-column: 1/3;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .newsletter-column {
    grid-row: 4;
  }

  .subscribe-newsletter {
    align-items: center;
  }

  .copyright-content {
    flex-direction: column;
    align-items: center;
  }
}
