.footer-cards {
  background-color: #fff;
  padding-block: 15px;
}

.footer-card {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  column-gap: 20px;
}

.footer-card li {
  list-style: none;
}

.footer-card img {
  height: 30px;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.copyright {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
