.header {
  background-image: linear-gradient(to bottom right, #ff9900, #ff5c00);
  color: white;
}

.main-header {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.category-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 18px;
}

.search-form {
  display: flex;
  width: 41.875rem;
  margin: 20px 30px;
}

.search-input {
  background-color: #fff;
  flex: 1;
  padding: 10px;
  height: 45px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
}

.search-button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: 50px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions a {
  text-decoration: none;
  color: #fff;
}

.user-actions,
.shopping-cart,
.favourite-items {
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  font-size: 18px;
}

.user-actions:hover .bi-person-icon,
.shopping-cart:hover .bi-cart-icon,
.favourite-items:hover .bi-favourite-icon {
  fill: black;
}

.user-actions:hover a {
  color: black;
}

.cart-counter {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: #f0bb83;
  border-radius: 50%;
  height: 10px;
  min-width: 10px;
  line-height: 10px;
  padding: 5px;
  font-size: 12px;
  color: black;
  text-align: center;
}

.cart-counter span {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.user-dropdown-menu {
  border-radius: 10px;
  background-color: #2c3e50;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dropdown-menu li {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.user-dropdown-menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 20px 8px;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.logout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px 20px 8px;
}

.logout-button span {
  font-size: 18px;
}

.logout-button:hover,
.user-dropdown-menu li:hover a {
  color: red;
}
