.header {
  background-image: linear-gradient(to bottom right, #ff9900, #ff5c00);
  color: white;
}

.main-header {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.header-hamburger-menu {
  display: none;
}

.home-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.search-bar-wrapper {
  width: 100%;
}

.category-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 18px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions a {
  text-decoration: none;
  color: #fff;
}

.user-actions,
.shopping-cart,
.favourite-items {
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  font-size: 18px;
}

.user-actions:hover .bi-user-icon,
.cart-icon-button:hover .bi-cart-icon,
.favourite-items:hover .bi-favourite-icon {
  fill: #501d00;
}

.shopping-cart .cart-icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.user-actions:hover a {
  color: black;
}

.extended-user-menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block: 15px;
  border-radius: 10px;
  background-color: #e4e4e4;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  z-index: 1000;
}

.extended-user-menu .menu-triangle {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 20px solid #e4e4e4;
}

.extended-user-menu a,
.extended-user-menu .logout-button {
  color: black;
  font-size: 18px;
  width: 100%;
}

.extended-user-menu .logout-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.extended-user-menu a:hover,
.extended-user-menu .logout-button:hover {
  font-weight: bold;
}

.cart-counter {
  position: absolute;
  top: -7px;
  right: -7px;
  background-color: #f0bb83;
  border-radius: 50%;
  height: 10px;
  min-width: 10px;
  line-height: 10px;
  padding: 5px;
  font-size: 12px;
  color: black;
  text-align: center;
}

.cart-counter span {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

@media screen and (max-width: 1380px) {
  .main-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 20px;
  }

  .main-header .logo {
    justify-self: center;
    margin: 0 auto;
  }

  .search-bar-wrapper {
    grid-row: 2;
    grid-column: 1/4;
  }

  .main-header .header-hamburger-menu {
    display: block;
  }

  .header-links {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 769px) {
  .main-header {
    grid-template-columns: repeat(6, 1fr);
  }

  .main-header .logo {
    grid-column: 2/6;
  }

  .search-bar-wrapper {
    grid-column: 1/7;
  }

  .main-header .logo svg {
    width: 200px;
  }

  .header-links {
    gap: 15px;
  }

  .user-actions svg,
  .favourite-items a svg,
  .shopping-cart .cart-icon-button svg {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 480px) {
  .header-links {
    gap: 8px;
  }

  .main-header .logo svg {
    width: 160px;
  }
}

@media screen and (max-width: 360px) {
  .main-header {
    grid-template-columns: repeat(7, 1fr);
  }

  .main-header .logo {
    grid-column: 2/6;
  }

  .header-links {
    grid-column: 6/8;
  }

  .search-bar-wrapper {
    grid-column: 1/8;
  }

  .user-actions svg,
  .favourite-items a svg,
  .shopping-cart .cart-icon-button svg {
    width: 20px;
    height: 20px;
  }

  .header-hamburger-menu svg {
    width: 27px;
    height: 27px;
  }
}
