.header {
  background-color: #005f7f;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 10;
  top: 0;
}

.main-header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.category-menu {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-size: 18px;
}

.search-form {
  display: flex;
  width: 35rem;
  margin: 20px 30px;
}

.search-input {
  background-color: white;
  flex: 1;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.search-button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 0 25px 25px 0;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-left: 50px;
}

.header-links div {
  height: 40px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions a {
  text-decoration: none;
  color: #fff;
}

.user-actions,
.shopping-cart {
  cursor: pointer;
  border-radius: 20px;
  position: relative;
  font-size: 18px;
}

.user-actions:hover .bi-person-icon,
.shopping-cart:hover .bi-cart-icon {
  fill: red;
}

.cart-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: yellow;
  border-radius: 50%;
  height: 10px;
  min-width: 10px;
  line-height: 10px;
  padding: 5px;
  font-size: 12px;
  color: black;
  text-align: center;
}

.user-dropdown-menu {
  border-radius: 10px;
  background-color: #2c3e50;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dropdown-menu li {
  text-align: center;
  border-bottom: 1px solid #eee;
}

.user-dropdown-menu a {
  text-decoration: none;
  color: #ffffff;
  padding: 12px 20px 8px;
  display: block;
  text-align: left;
  white-space: nowrap;
}

.logout-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px 20px 8px;
}

.logout-button span {
  font-size: 18px;
}

.logout-button:hover,
.user-dropdown-menu li:hover a {
  color: red;
}
