.price-range-slider {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #00000050;
}

.price-range-header {
  padding-block: 20px;
}

.price-range-header h3 {
  margin: 0;
}

.group-price-range {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  color: #b5b5b5;
  height: auto;
}

.group-price-range p {
  margin-block: 10px;
}

.current-price-range {
  text-align: center;
}

.current-price-range p {
  margin: 0;
  padding-block: 20px;
}

.slider {
  height: 5px;
  width: 100%;
  background-color: #b4b4b4;
  border-radius: 5px;
}

.slider .thumb {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  cursor: grab;
  background-color: #262626;
  border: none;
  top: -8px;
  outline: none;
}

.slider .thumb.active {
  outline: none;
  border: none;
}
