.product-item-details {
  position: relative;
  height: 160px;
  text-align: left;
}

.product-image-container .product-image-photo {
  display: inline-block;
  width: 100%;
  height: 190px;
  object-fit: contain;
}

.product-item-details .product-item-name {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
}

.product-item-details .product-item-name a {
  text-decoration: none;
  color: black;
  line-height: 20px;
}

.product-item-details .product-item-ratings {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-block: 5px;
  margin-bottom: 10px;
}

.product-item-details .product-item-ratings svg {
  margin-right: 5px;
}

.product-item-details .price-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
}

.product-item-details .price-container .price {
  color: #333;
  font-size: 30px;
  font-weight: 700;
}

.product-item-details .cart-action {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.wish-list-action {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
}

.wish-list-action .wish-list-button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.product-item-actions .cart-action .cart-button {
  cursor: pointer;
  background-color: #ff7c32;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item-actions .cart-action .cart-button svg {
  margin-right: 2px;
}

.product-item-actions .cart-action .cart-button.active {
  background-color: #17a200;
}

.single-category {
  background-image: url("/frontend/public/images/category-background-varient1.png");
}
