.all-products-container {
  position: relative;
}

.all-products-container button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
}

.products-dropdown-menu {
  height: fit-content;
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
  margin: 0;
  background-color: #e4e4e4;
  border-radius: 8px;
  border-top-right-radius: 0px;
}

.products-categories-menu .products-menu-triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #e4e4e4;
  position: absolute;
  top: -10px;
  left: 30%;
}

.products-categories-menu {
  width: 270px;
  list-style: none;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
}

.products-categories-menu .single-products-category {
  padding: 5px;
}

.products-categories-menu .single-products-category.active {
  background-color: #cfcfcf;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-categories-menu .single-products-category.active a {
  font-weight: bolder;
}

.products-categories-menu .single-products-category a {
  width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.products-subcategories-menu {
  background-color: #e4e4e4;
  list-style: none;
  position: absolute;
  top: 0px;
  left: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 165px;
  border-radius: 8px;
  border-top-left-radius: 0px;
  padding: 15px 10px 15px 10px;
}

.products-subcategories-menu li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-subcategories-menu .single-products-subcategory a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.products-subcategories-menu .product-groups-menu {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding-left: 0;
}

.product-groups-menu li a {
  font-weight: normal !important;
}
