.quantity-input {
  color: black;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 160px;
  height: 45px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border-radius: 25px;
  border: 1px solid black;
}

.quantity-input button {
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
}

.item-quantity::-webkit-inner-spin-button,
.item-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-count-minus {
  border: none;
}

.quantity-count-plus {
  border: none;
}

.item-quantity {
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
}

.item-quantity:focus {
  outline: none;
}

.remove-cart-item-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
