.search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 670px;
  width: 100%;
  margin: 20px 30px;
  position: relative;
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-bar input {
  width: 100%;
  background-color: #fff;
  flex: 1;
  padding: 10px;
  height: 45px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-sizing: border-box;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
}

.search-bar.expanded button {
  border-bottom-right-radius: 0px;
}

.search-bar.expanded input {
  border-bottom-left-radius: 0px;
}

.search-menu-container {
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
  width: 100%;
  margin: auto;
  background-color: #fff;
}
