.subheader {
  background-color: #fff1e7;
  width: 100%;
}

.wrapperr {
  max-width: 1340px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.nav-menu li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff5c00;
  display: block;
  transition: width 0.3s ease;
}

.nav-menu li a:hover::after,
.nav-menu li a:focus::after {
  width: 100%;
}

@media screen and (max-width: 1380px) {
  .subheader {
    display: none;
  }
}
