.cart-container {
  max-width: 1340px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.cart-content,
.order-review {
  background-color: #ffede1;
  border-radius: 10px;
}

.cart-content {
  flex: 1.5;
}

.order-informations {
  flex: 1;
  /* max-width: 540px;
  width: 100%; */
}

.order-review {
  padding: 20px;
}

.cart-content {
  padding: 20px 7px 20px 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 480px;
  padding-right: 6px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cart-items::-webkit-scrollbar {
  width: 7px;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #979797;
  border-radius: 50px;
}

.cart-item {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.cart-item .cart-item-link {
  /* display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
  */
  /* width: 100%; */
  text-decoration: none;
  color: black;
}

.cart-item .remove-item-button {
  padding-right: 10px;
}

.cart-item-name {
  font-size: 20px;
  width: 100%;
  text-decoration: none;
  color: black;
}

.cart-item-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.cart-item-details .cart-item-name {
  text-align: start;
  width: 100%;
}

.cart-item-quantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.cart-item-details .quantity-input {
  width: 160px;
}

.cart-item-details span {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.cart-item-link img {
  width: 150px;
  height: 150px;
}

.order-informations {
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.order-price-details {
  border-bottom: 2px solid #00000050;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.online-price,
.online-discount,
.purchase-amount {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.online-price span,
.online-discount span {
  font-size: 20px;
  font-weight: bold;
}

.online-discount {
  margin-bottom: 20px;
}

.purchase-amount {
  padding-block: 50px;
}

.purchase-amount span {
  font-size: 36px;
  font-weight: bold;
}

.order-button {
  background-color: #ff7c32;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
}

.promo-code-container {
  background-color: #ffede1;
  border-radius: 10px;
  padding: 20px;
}

.promo-code-form {
  position: relative;
  margin-top: 40px;
}

.promo-code-form input {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 50px;
  text-indent: 25px;
  font-size: 18px;
}

.promo-code-form button {
  background-color: #ff7c32;
  border-radius: 20px;
  height: 40px;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 40%;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.promo-code-form input:focus {
  outline: none;
}

@media screen and (max-width: 1380px) {
  .cart-container {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .cart-container {
    flex-direction: column;
  }
  .order-informations {
    width: 100%;
  }

  .cart-item {
    justify-content: left;
  }

  .cart-item-details {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .cart-item-details .cart-item-name,
  .cart-item-quantity .quantity-input input,
  .cart-item-quantity .quantity-input button,
  .cart-item-quantity .cart-item-price {
    font-size: 18px;
  }

  .cart-item-name {
    text-align: center;
  }

  .cart-item-details,
  .cart-item-quantity {
    align-items: center;
  }

  .remove-item-button svg {
    height: 22px;
    width: 22px;
  }

  .cart-item-quantity .quantity-input {
    width: 120px;
  }

  .cart-item-link img {
    width: 130px;
    height: 130px;
  }

  .order-review h1,
  .promo-code-title {
    font-size: 26px;
  }

  .order-price-details p,
  .purchase-amount p {
    font-size: 16px;
  }

  .order-price-details span {
    font-size: 18px;
  }

  .purchase-amount span {
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  .cart-item-quantity .quantity-input {
    width: 110px;
  }

  .cart-item-link img {
    width: 115px;
    height: 115px;
  }

  .order-price-details p,
  .purchase-amount p {
    font-size: 14px;
  }

  .order-price-details span {
    font-size: 16px;
  }

  .purchase-amount span {
    font-size: 20px;
  }
}
