.forgot-password-container {
  max-width: 500px;
  margin: 100px auto;
  padding: 40px;
  background-color: #ffede1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form .form-group {
  padding: 10px;
  border: 2px solid #ccc;
}

.forgot-password-form input {
  height: 25px;
  width: 97%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-button {
  background-color: #ff7c32;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-block: 10px;
}

.cancel-button a {
  text-decoration: none;
  background-color: #eeeeed;
  padding: 7px 15px;
  border-radius: 5px;
  color: #007bff;
  margin-top: 10px;
  display: inline-block;
}
