.login-container {
  max-width: 500px;
  margin: 50px auto;
}

.login-section {
  padding: 40px;
  background-color: #ffede1;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-title {
  margin-top: 0;
}

.login-section .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form .form-group label {
  margin-bottom: 5px;
}

.login-form .form-group input {
  background-color: #ffffff;
  border: 1px solid #333333;
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
}

.login-form .form-group label::after {
  color: #b50938;
  content: "*";
  font-size: 13px;
  margin: 0 0 0 3px;
}

.login-form .submit-button {
  display: block;
  background-color: #ff9900;
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.login-form .forgot-password {
  display: flex;
  justify-content: end;
  margin-bottom: 15px;
}

.login-form .forgot-password a,
.register-suggest a,
.continue-as-guest a {
  text-decoration: none;
  color: #ff5c00;
}

.login-section .continue-as-guest {
  margin-top: 5px;
}

.login-section .actions-toolbar .addition-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section .addition-actions .register-suggest {
  margin: 10px 0 0 0;
  color: #8e8e8e;
}

.login-section .addition-actions .or-option {
  color: black;
  font-weight: bold;
  margin-block: 10px;
}

.login-section .external-login-container {
  display: block;
  width: 100%;
}

.external-login-container .external-login-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.external-login-button span {
  color: black;
}

.external-login-container svg {
  margin-inline: 10px;
}

@media screen and (max-width: 520px) {
  .login-container {
    margin-inline: 0;
    padding-inline: 15px;
  }
}
