.product-page {
  max-width: 1340px;
  margin: 20px auto;
}

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  font-size: 12px;
}

.breadcrumbs li a {
  text-decoration: none;
  color: black;
  position: relative;
}

.breadcrumbs li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff5c00;
  display: block;
  transition: width 0.3s ease;
}

.breadcrumbs li a:hover::after,
.breadcrumbs li a:focus::after {
  width: 100%;
}

.breadcrumbs li:not(:last-child)::after {
  content: ">";
  margin: 0 5px;
}

.breadcrumbs li:last-child {
  color: #a3a3a3;
  cursor: default;
  pointer-events: none;
}

.product-info-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-images {
  display: flex;
  flex-direction: row;
  flex: 1;
  /* max-width: 750px; */
}

.product-images .image-thumbnails {
  display: flex;
  flex-direction: column;
  gap: 32.5px;
  /* height: 100%; */
}

.product-images .image-thumbnails .image-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  position: relative;
}

.product-images .image-thumbnails .image-thumbnail.active {
  opacity: 1;
}

.product-images .image-thumbnails .image-thumbnail.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  border-radius: 10px;
  background-color: orange;
}

.product-images .image-thumbnails img {
  width: 100%;
  cursor: pointer;
}

.product-images .main-image {
  max-width: 515px;
}

.product-images .main-image img {
  width: 100%;
}

.product-overview {
  flex: 1;
  background-color: #ffede1;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 10px;
}

.product-overview .product-state {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-overview .product-state::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}

.product-overview .product-state .availability-text {
  font-size: 20px;
}

.product-overview .product-name {
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 40px;
}

.product-overview .product-price {
  margin-bottom: 40px;
}

.product-price .price-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.price-value .main-price {
  font-size: 45px;
  font-weight: bolder;
  padding-right: 40px;
}

.price-value .monthly-payment {
  padding-left: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.price-value .monthly-payment .monthly-price {
  display: flex;
  flex-direction: column;
  font-size: 38px;
  font-weight: bolder;
  align-items: center;
}

.price-value .monthly-payment .monthly-price span {
  font-size: 24px;
  font-weight: normal;
}

.price-value .monthly-payment::before {
  content: "or";
  font-size: 20px;
  position: absolute;
  left: -9px;
  top: 30%;
  background-color: #ffede1;
}

.product-price .price-note {
  font-size: 20px;
}

.product-price .price-note p::before {
  content: "*";
  margin-right: 5px;
}

.product-actions {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
}

.free-delivery-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  margin: 70px 70px 70px 0;
}

.free-delivery-wrapper .free-delivery-text {
  font-size: 20px;
  color: #097a00;
  font-weight: bolder;
}

.product-details-container {
  display: flex;
  flex-direction: row;
  gap: 65px;
  width: 100%;
  height: auto;
  margin-bottom: 70px;
}

.product-details-container .product-main-specifications {
  background-color: #ffede1;
  max-width: 500px;
  width: 100%;
  max-height: 215px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
}

.product-details-container
  .product-main-specifications
  .single-main-specification {
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.product-main-specifications .single-main-specification span {
  font-weight: bolder;
}

.product-specifications-declaration-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 2px solid #00000050;
}

.similar-products-container .similar-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1380px) {
  .product-page {
    padding-inline: 20px;
  }

  /* .product-info-container {
    flex-direction: column;
  } */
}

@media screen and (max-width: 1220px) {
  .similar-products-container .similar-products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1120px) {
  .product-overview .product-name,
  .price-value .main-price {
    font-size: 35px;
  }

  .price-value .monthly-payment .monthly-price {
    font-size: 30px;
  }

  .price-value .monthly-payment .monthly-price span {
    font-size: 20px;
  }

  .product-price .price-note {
    font-size: 16px;
  }

  .product-overview .product-actions .order-button {
    font-size: 24px;
  }
}

@media screen and (max-width: 950px) {
  .product-info-container {
    flex-direction: column;
  }

  .product-images {
    flex-direction: column-reverse;
    margin-bottom: 25px;
  }

  .product-images .image-thumbnails {
    flex-direction: row;
  }

  .product-overview {
    max-width: 100%;
  }

  .product-images .image-thumbnails .image-thumbnail.active::before {
    top: 100%;
    height: 4px;
    width: 100%;
    bottom: 0;
  }

  .similar-products-container .similar-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .similar-products-container .similar-products .product-item-info {
    height: 420px;
  }

  .similar-products-container .similar-products .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
  }

  .similar-products-container .similar-products .product-image-container img {
    height: 300px;
  }
}
@media screen and (max-width: 880px) {
  .product-details-container {
    flex-direction: column;
  }

  .product-details-container .product-main-specifications {
    max-width: 100%;
    width: auto;
  }
}

@media screen and (max-width: 620px) {
  .similar-products-container .similar-products {
    grid-template-columns: repeat(1, 1fr);
  }

  .similar-products-container .similar-products .product-item-info {
    height: 500px;
  }

  .similar-products-container .similar-products .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 370px;
  }

  .similar-products-container .similar-products .product-image-container img {
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  .breadcrumbs {
    font-size: 9px;
  }
}
