.products-subcategory-page {
  max-width: 1340px;
  margin: 30px auto;
}

.subcategory-products-container {
  display: flex;
  flex-direction: column;
}

.subcategory-products-container .subcategory-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000050;
}

.subcategory-products-container .subcategory-info h2 {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 15px;
  font-weight: normal;
}

.subcategory-products-container .subcategory-info h2 span {
  font-weight: bolder;
}

.subcategory-products-container .subcategory-info h2 .number-of-results {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

.subcategory-products {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.arrow-icon {
  transition: transform 0.3s ease;
}

.subcategory-products .subcategory-products-filter-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.brand-filter-container,
.group-filter-container,
.single-specification-filter-container {
  border-bottom: 1px solid #00000050;
}

.brand-filter-container,
.group-filter-container,
.specifications-filter-container {
  display: flex;
  flex-direction: column;
}

.brand-filter-container .brand-filter-header,
.group-filter-container .group-filter-header,
.specifications-filter-container .specifications-filter-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
  cursor: pointer;
}

.brand-filter-container .brand-filter-header span,
.group-filter-container .group-filter-header span,
.specifications-filter-container .specifications-filter-header span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-filter-container .brand-filter-header h3,
.group-filter-container .group-filter-header h3,
.specifications-filter-container .specifications-filter-header h3 {
  margin: 0;
}

.brand-filter-container .brands-filter-list,
.group-filter-container .groups-filter-list,
.specifications-filter-container .specifications-filter-list {
  list-style: none;
  padding-left: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.brands-filter-list .single-product-brand .custom-checkbox,
.groups-filter-list .single-product-group .custom-checkbox,
.specifications-filter-list .single-product-specification .custom-checkbox {
  display: none;
}

.single-product-brand,
.single-product-group {
  list-style: none;
}

.brands-filter-list .single-product-brand .checkbox-custom,
.groups-filter-list .single-product-group .checkbox-custom,
.specifications-filter-list .single-product-specification .checkbox-custom {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #e4e4e4;
  border-radius: 50%;
  margin-right: 5px;
}

.single-product-brand label,
.single-product-group label,
.single-product-specification label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.single-product-specification.active .checkbox-custom {
  background-color: black;
}

.single-product-brand .custom-checkbox:checked + .checkbox-custom,
.single-product-group .custom-checkbox:checked + .checkbox-custom
/* .single-product-specification .custom-checkbox:checked + .checkbox-custom  */ {
  background-color: black;
}

@media screen and (max-width: 1380px) {
  .products-subcategory-page {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 1050px) {
  .subcategory-products-filter-container {
    display: none !important;
  }

  .subcategory-products-container .subcategory-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
