.profile-container {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  gap: 20px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  gap: 114px;
}

.profile-section .user-main {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile-section .user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-size: 26px;
}

.user-info .user-name span,
.user-info .user-surname span,
.user-info .user-email span,
.user-info .user-register-date span {
  font-weight: bold;
}

.profile-section .user-main .user-full-name {
  margin-bottom: 5px;
}

.update-section,
.profile-section {
  background-color: #ffede1;
  margin-inline: 15px;
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
}

.update-description {
  margin-top: 5px;
  font-style: italic;
  font-weight: 300;
}

.update-section .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.update-form .form-group label {
  margin-bottom: 5px;
}

.update-form .form-group input {
  background-color: #ffffff;
  border: 1px solid #333333;
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
}

.update-form .form-group:nth-child(1) label::after,
.update-form .form-group:nth-child(3) label::after {
  color: #b50938;
  content: "*";
  font-size: 13px;
  margin: 0 0 0 3px;
}

.update-form .submit-button {
  display: block;
  background-color: #ff9900;
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.loader-wrapper {
  text-align: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff9900;
  border-radius: 50%;
  margin: 20px auto;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
