.register-container {
  max-width: 500px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-section {
  margin-inline: 15px;
  padding: 40px;
}

.register-section .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.register-form .form-group label {
  margin-bottom: 10px;
}

.register-form .form-group input {
  background-color: #ffffff;
  border: 1px solid #333333;
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
}

.register-form .form-group label::after {
  color: #b50938;
  content: "*";
  font-size: 13px;
  margin: 0 0 0 3px;
}

.register-form .agreement {
  margin-block: 15px;
}

.register-form .agreement label {
  margin-left: 5px;
}

.register-form .agreement a {
  text-decoration: none;
  color: #004080;
}

.register-form .submit-button {
  display: block;
  background-color: #004080;
  width: 100%;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.actions-toolbar .addition-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addition-actions .login-suggest {
  margin: 10px 0 0 0;
  color: #8e8e8e;
}

.login-suggest a {
  text-decoration: none;
  color: #004080;
}
.addition-actions .or-option {
  color: black;
  font-weight: bold;
  margin-block: 15px;
}

.external-register-container {
  display: block;
  width: 100%;
}

.external-register-container .external-register-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.external-register-container svg {
  margin-inline: 10px;
}
