.loader-wrapper {
  text-align: center;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff9900;
  border-radius: 50%;
  margin: 20px auto;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
